@font-face {
  font-family: "alician";
  src: url("../fonts/Alician-Regular.ttf");
}

@font-face {
  font-family: "novaflat";
  src: url("../fonts/NovaFlat-Regular.ttf");
}

@font-face {
	font-family: "magicschool";
	src: url("../fonts/MagicSchoolOne.ttf")
}

table{
	width: 100%;
	text-align: center;
	margin: auto;
	background: #151515;
}

table tr:nth-child(even){
	background: #251F25;
}

#maintitle{
	font-family: magicschool;
	font-size: 6em;
	background-color: transparent;
}

#dicoEntries{
	font-size: 1.4em;
}

.alician{
	font-family: "alician";
	font-size: 1.2em;
}

table .alician:hover{
	font-family: arial;
	font-size: 1.1em;
}

#translation{
	position: fixed;
	right: 0;
	top: 0;
	background-color: rgba(0,0,0,0.75);
	font-size: 2em;
}

.found{
	color: deeppink;
	cursor: pointer;
}

.found:hover{
	color: lawngreen;
}

body{
	text-align: center;
	font-family: "novaflat",Georgia, arial;
	color: ghostwhite;
	margin: 0;
	background-color:  #151515;
}

.wallpaper{
	background: url('../bg.png') fixed no-repeat, black;
	background-size: 90%;
	background-position-x: 50%;
	background-position-y: 100%;
}

.nowallpaper{
	background : #111;
}

h1{
	margin: 0;
	padding: 12px;
	font-size: 2.2em;
	background-color: #323;
}

p{
	font-size: 1.2em;
}

.album{
	width: 80vw;
	text-align: center;
	margin: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

.album .bubble-div{
	width: 20vw!important;
	height: 20vw!important;
}

.bubble-div:hover{
	background-color: #151515;
}

#albumcover1{
	background: url('../img/cover1.jpg') no-repeat;
	background-size: 100%;
}

#albumcover2{
	background: url('../img/cover2.jpg') no-repeat;
	background-size: 100%;
}

#albumcover3{
	background: url('../img/cover3.jpg') no-repeat;
	background-size: 100%;
}

#albumcover4{
	background: url('../img/cover4.jpg') no-repeat;
	background-size: 100%;
}

#albumcover5{
	background: url('../img/glass.png') no-repeat;
	background-size: 100%;
}

.letter-box{
	display: inline-block;
	text-align: center;
	background-color: #222;
	font-size: 3em;
	width: 110px;
	margin: 6px;
	user-select: none;
	border-radius: 4px;
	border-right: 2px solid #1A1A1A;
	border-bottom: 1px solid #1A1A1A;
	border-top: 1px solid #1A1A1A;
}

.return{
	position: absolute;
	left: 12px;
	top: 6px;
	font-size: 2em;
	cursor: pointer;
}

.bubble-div{
	background-color: #111;
	opacity: 95%;
	border-radius: 4px;
	padding: 20px;
	width: 50vw;
	margin: auto;
	margin-top: 20px;
	user-select: none;
	cursor: pointer;
	transition: background-color 0.25s;
	font-size: 1.2em;
}

th, td{
	width: 20%;
}

.lyrics{
	font-size: 1.3em;
}

@media (max-width: 1000px){
	body{
		background-size: 125%;
		background-position-x: 50%;
		background-position-y: 100%;
	}

	.album .bubble-div{
		width: 40vw!important;
		height: 40vw!important;
	}

	#maintitle{
		font-size: 5em;
	}
}